*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* inizio header */

header{
    width: 100vw;
    height: 70px;
    background-color: rgba(109, 153, 236, 0.993);
    background-image: url(img/pattern.png);
    background-size: 290px; /*so che quasi mai si mette un valore in px, meglio usare cover/contain, ma era l unico modo per tenere fede il più possibile all'esercizio*/
    position: relative;
}

.logo{
    width: 170px;
    height: 35px;
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 10px;
    left: 10%;
}

    /* fine header */

    .contenitore{
        width: 80%;
        height: 100vh;
        padding-top: 10px;
        margin: auto;
    }

    /* inizio Main - class titolo/album */

    .titolo > h5{
        color: grey;
    }

    h5 > span{
        color: rgb(98, 177, 250);
    }

    .titolo > span{
        color: grey;
        font-size: x-small;
    }

    .album{
        margin-top: 10px;
        width: 100%;
        height: 320px;
    }

    .left{
        display: inline-block;
        width: 50%;
        height: 80%;
        background-image: url(./img/tim-1.jpg);
        background-size: cover;
    }

    .right{
        display: inline-block;
        width: 44%;
        height: 80%;
        background-image: url(./img/tim-2.jpg);
        background-size: cover;
    }

    .descrizione > p{
        font-size: xx-small;
    }

    /* Fine class titolo/album */
    /* inizio class corpo */

    .corpo span{
        background-color: yellow;
    }

    .corpo >p{
        margin-bottom: 25px;
    }

    ul{
        margin-bottom: 25px;
    }

    table{
        font-size: small;
        margin-bottom: 20px;
    }

    thead{
        background-color: rgb(16, 187, 255);
        color: white;
    }

    th{
        width: 25%;
        text-align: start
    }

    .cella{
        width: 50%;
    }

    tbody{
        background-color: aqua;
    }

    #bianca{
        background-color: white;
    }

    /* fine class corpo */
    /* Fine Main */